---
import PageLayout from '@/layouts/CommonPage.astro'
import links from 'public/links.json'

import { Image } from 'astro:assets'
import profilepic from '@/assets/kokqisheng.png'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import FriendList from '@/components/links/FriendList.astro'
import { Timeline } from '@/components/user'

const headings = [
  {
    depth: 2,
    slug: 'naming',
    text: 'Kok Qi Sheng'
  },
  {
    depth: 2,
    slug: 'education',
    text: 'Education'
  },
  {
    depth: 2,
    slug: 'experiences',
    text: 'Experiences'
  },
  {
    depth: 2,
    slug: 'achievements',
    text: 'Achievements'
  },
  {
    depth: 2,
    slug: 'social-networks',
    text: 'Social Networks'
  },
  {
    depth: 2,
    slug: 'tools',
    text: 'Skills & Tools'
  },
  {
    depth: 2,
    slug: 'links',
    text: 'Links'
  },
]

const { friends } = links
---

<PageLayout title='About' {headings} info={{ slug: '/about'}}>
  <h2 id='naming' class="text-3xl font-bold flex w-full flex-col items-center"> 
      <Image
        src={profilepic}
        alt='profilepic'
        class='h-48 w-auto rounded-full dark:rounded-full border p-1'
        loading='eager'
      />
      {/* The rounded-full is missing at dark mode, cuz we're no in the html/body section macroscopically */}
      <div class="mt-4"></div>
      Kok Qi Sheng
  </h2>
  
  <p>🚩CTF Player / ⚡EE Student</p>
  <p class='text-muted-foreground'>
    Currently pursuing my Bachelor's Degree in Electrical Engineering.
  </p>
  <p class='text-muted-foreground'>
    My main interests lie in embedded systems, hardware security, and low-level programming. Apart from my studies, I take cybersecurity as a hobby. I actively engaging myself in Capture The Flag (CTF) competitions and learning about vulnerabilities and exploits, focusing in the field of reverse engineering, binary exploitation and forensics.
  </p>
  <p class='text-muted-foreground'>
    Here I would share experiences in my studies, milestone projects and CTF journey.
  </p>
  <p>My motto: No logs, No traces.</p>

  <h2 id='education'>Education</h2>
  <Timeline
    events={[
      {
        date: 'Sep 2024 - Present',
        content: '<a href="https://www.pku.edu.cn/" target="_blank">University of Technology Malaysia</a>',
      },
      {
        date: 'Jul 2023 - May 2024',
        content: '<a href="https://nkzx.tj.edu.cn/" target="_blank">Kedah Engineering Matruclation College</a>',
      }
    ]}
  />

  <h2 id='experiences'>Experiences</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'UTM CyberX',
        image:'cyberx.png',
        description: 'Active CTF Player'
      }
    ]}
  />


  <h2 id='achievements'>Achievements</h2>
  <Timeline
    events={[
      {
        date: 'Jun 25, 2023',
        content: '<a>King\'s Scout Award</a>',
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'social.svg#mingcute-github-line',
        link: 'https://github.com/gr1d-init'
      },
      {
        platform: 'LinkedIn',
        icon: 'social.svg#mingcute-linkedin-line',
        link: 'https://linkedin.com/in/qs220a'
      },
    ]}
  />
  

  {/* tools */}
  <h2 id='tools'>Skills & Tools</h2>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        iconPath: 'photoshop'
      },
      {
        name: 'Illustrator',
        description: 'Vector Drawing',
        href: 'https://www.adobe.com/products/illustrator',
        iconPath: 'illustrator'
      },
      {
        name: 'DaVinci Resolve',
        description: 'Video Editing',
        href: 'https://www.blackmagicdesign.com/products/davinciresolvee',
        iconPath: 'davinci'
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Language'
    tools={[
      {
        name: 'C',
        description: 'Programming Language',
        href: 'https://www.tutorialspoint.com/cprogramming/index.htm',
        iconPath: 'c'
      },
      {
        name: 'C++',
        description: 'Programming Language',
        href: 'https://www.learncpp.com/',
        iconPath: 'cpp'
      },
      {
        name: 'Python',
        description: 'Programming Language',
        href: 'https://www.python.org/',
        iconPath: 'python'
      },
      {
        name: 'Markdown',
        description: 'Docs & Blogs Writing',
        href: 'https://www.markdownguide.org/',
        iconPath: 'markdown'
      },
      {
        name: 'Assembly',
        description: 'Low-level Programming Language',
        href: 'https://asmtutor.com/',
        iconPath: 'assembly'
      },
      {
        name: 'Shell',
        description: 'Scripting',
        href: 'https://en.wikipedia.org/wiki/Unix_shell',
        iconPath: 'shell'
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Windows 11',
        description: 'Thinkpad X13',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        iconPath: 'windows11'
      },
      {
        name: 'Kali Linux',
        description: 'VMWare Workstation Pro',
        href: 'https://kali.org/',
        iconPath: 'kalilinux'
      }
    ]}
  />
  
  <h2 id='links'>Links</h2>
  <FriendList list={friends[0]} />
</PageLayout>
