---
import PageLayout from '@/layouts/CommonPage.astro'

import ProjectSection from '@/components/projects/ProjectSection.astro'
import { Collapse } from '@/components/user'
const headings = [
  {
    depth: 2,
    slug: 'ctfs',
    text: 'CTF Writeups'
  },
  {
    depth: 2,
    slug: 'milestone',
    text: 'Milestone Projects'
  },
  {
    depth: 2,
    slug: 'themes',
    text: 'Themes'
  },
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects'}}>

<h2 id='ctfs'>CTF Writeups</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        image:'blueredflag.png',
        name: 'CTF Writeups Compilation',
        description: 'A collection of writeups for CTFs I have participated in',
        links: [{ type: 'github', href: 'https://github.com/gr1d-init/CTF-Writeups' }]
      },
      {
        image:'eqctf.png',
        name: 'EQCTF-2025',
        description: 'Equilibrium Solo CTF 2025 Writeups',
        links: [
          {
            type: 'site',
            href: 'https://gr1d-init.github.io/blog/eqctf2025'
          },
          {
            type: 'github',
            href: 'https://github.com/zhuozhiyongde/Introduction-To-Computer-System-2023Fall-PKU'
          },
        ]
      }
    ]}
  />
  <Collapse title='Some old writeups'>
    <ProjectSection
      project={[
        {
          image: 'cyberx.png',
          name: 'CyberX-CTF-2024',
          description: 'UTM CyberX Internal CTF 2024 Writeups',
          links: [
          {
            type: 'site',
            href: 'https://gr1d-init.github.io/blog/cyberxctf2024'
          },
          { 
            type: 'github', 
            href: 'https://github.com/gr1d-init/CTF-Writeups/tree/main/CyberX-CTF-2024' 
          }]
        },
        {
          image: 'picoctf.png',
          name: 'picoCTF',
          description: 'Writeups for picoCTF practice platform',
          links: [
            { 
              type: 'github', 
              href: 'https://github.com/gr1d-init/CTF-Writeups/tree/main/picoCTF' 
            }
          ]
        }
      ]}
    />
  </Collapse>
  

  <h2 id='milestone'>Milestone Projects</h2>
  <ProjectSection
    project={[
      {
        name: 'SKEE1033-SPML',
        description: 'Assignment (Scientific Programming) - Intro to Machine Learning',
        links: [
          { type: 'github', 
            href: 'https://github.com/gr1d-init/SKEE1033-SPML' 
          },
          {
            type: 'doc',
            href: 'https://github.com/gr1d-init/SKEE1033-SPML/blob/main/Documentation/spProjectFinalCopy.pdf'
          }
        ]
      },
      /*{
        name: 'ðŸ’„ PKU Art',
        description: 'A script to beautify pku course website',
        links: [
          { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }*/
    ]}
  />
  {/*
  <Collapse title='Some old projects'>
    <ProjectSection
      project={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>
  */}
  
  <h2 id='themes'>Themes</h2>
  <ProjectSection
    project={[
      {
        name: 'ðŸ­ Astro-theme-pure',
        description: 'A simple, clean but powerful blog theme build by astro.',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
        ]
      }
    ]}
  />

</PageLayout>

<script is:inline type='module' data-astro-rerun>
  import { siteConfig } from '/src/site.config.ts'

  const loadPageviewCount = async () => {
    const pageviewCount = await import(`${siteConfig.npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageviewCount({
      serverURL: siteConfig.commonPage.walineServerUrl,
      path: window.location.pathname
    })
  }

  loadPageviewCount()
</script>
